html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #141823;
  z-index: 1;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 30px;
  color: orangered;
}

a {
  text-decoration: none;
  color: #227c96;
}

a:hover {
  text-decoration: underline;
}

.stopwatch {
  text-align: center;
}

.stopwatch__display {
  font-family: 'Roboto Mono', monospace;
  font-size: 90px;
}

.stopwatch__history {
  margin-top: 15px;
}

ul {
  margin-top: 10px;
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px;
  border-bottom: 1px solid #141823;
}

li:hover {
  background-color: #91989e;
}

li:last-child {
  display: none;
}
button{
  background-color: #e4ebee;
  color: rgb(9, 9, 9);
  border: none;
  padding: 5px;
  font-size: 20px;
  height: 100px;
  width: 100px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 70%;
  margin: 5px;
}
button:hover{
  color: rgb(242, 248, 246);
  background-color: #74eecf;
}